<div class="container text-center mt-5">

  <h1>My tasks</h1>

  <div class="d-flex justify-content-center">
    <ul class="list-unstyled">
      <% @tasks.each do |task| %>
        <li class="card p-3 my-3">
          <div class="d-flex justify-content-between">
            <div class="d-flex">
              <input type="checkbox" class="me-2" <%= task.completed ? "checked" : "" %>>
              <%= link_to task.title, task_path(task[:id]), class: "text-decoration-none mx-2" %>
            </div>
              <%= link_to '<i class="fa-solid fa-xmark"></i>'.html_safe,
                task_path(task[:id]),
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
                class: "text-decoration-none ms-2"
              %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div>
    <%= link_to '<i class="fa-solid fa-plus me-1"></i> Add new task'.html_safe, new_path, class: "btn btn-primary" %>
  </div>
</div>
